/.localhistory/ShopAPINew/Views/Shared
/.localhistory/ShopAPINew/App
/.localhistory/ShopAPINew
/ShopAPINew/bin
/ShopAPINew/obj/Debug
/ShopAPINew/obj/Release
/.vs/ShopAPINew/v14
/.vs/config
/Backup
/UpgradeLog.htm
