<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kangwl.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>kangwl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kangwl</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql2.gear.host;Persist Security Info=True;User ID=dbsql1;Password=!@#QWE" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopMVCAPINew.App.DataContext, ShopMVCAPINew" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppharborConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=73a9150a-b728-4a1a-a1a1-a4f8002d1abd.sqlserver.sequelizer.com;Persist Security Info=True;User ID=mbkglvujttangamq;Password=6kqwxzfdki7xkMGr8UD6ZqFkngqmsKWcYMd4v2pc6uetZykhmRGCCEUPLejrj2TH" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=73a9150a-b728-4a1a-a1a1-a4f8002d1abd.sqlserver.sequelizer.com;Persist Security Info=True;User ID=mbkglvujttangamq;Password=6kqwxzfdki7xkMGr8UD6ZqFkngqmsKWcYMd4v2pc6uetZykhmRGCCEUPLejrj2TH" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppharborConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=73a9150a-b728-4a1a-a1a1-a4f8002d1abd.sqlserver.sequelizer.com;Persist Security Info=True;User ID=mbkglvujttangamq;Password=6kqwxzfdki7xkMGr8UD6ZqFkngqmsKWcYMd4v2pc6uetZykhmRGCCEUPLejrj2TH" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ShopMVCAPINew.App.MysqlContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopMVCAPINew.App.MysqlContext, ShopMVCAPINew" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MysqlConnection_AppHarbor" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=336186d3-6f68-4234-9a83-a4fa00219261.mysql.sequelizer.com;database=db336186d36f6842349a83a4fa00219261;uid=vmqfbdskcriczvaq;pwd=54KvaHsvLYdXDz8TrW4mkPrGN47qbcubDHfvXxWqmsJnd44NQGVg6XBpLdQfJbtJ" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MysqlConnection_AppHarbor_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=336186d3-6f68-4234-9a83-a4fa00219261.mysql.sequelizer.com;database=db336186d36f6842349a83a4fa00219261;uid=vmqfbdskcriczvaq;pwd=54KvaHsvLYdXDz8TrW4mkPrGN47qbcubDHfvXxWqmsJnd44NQGVg6XBpLdQfJbtJ" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MysqlConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=rds6req3u7byeaz.mysql.rds.aliyuncs.com;database=db59w0r681yrafb9;uid=db59w0r681yrafb9;pwd=abc123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MysqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=rds6req3u7byeaz.mysql.rds.aliyuncs.com;database=db59w0r681yrafb9;uid=db59w0r681yrafb9;pwd=abc123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppharborConnection-Web.config Connection String">
      <ParameterValue>Data Source=73a9150a-b728-4a1a-a1a1-a4f8002d1abd.sqlserver.sequelizer.com;Persist Security Info=True;User ID=mbkglvujttangamq;Password=6kqwxzfdki7xkMGr8UD6ZqFkngqmsKWcYMd4v2pc6uetZykhmRGCCEUPLejrj2TH</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mssql2.gear.host;Persist Security Info=True;User ID=dbsql1;Password=!@#QWE</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MysqlConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MysqlConnection_AppHarbor-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShopMVCAPINew.App.MysqlContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ShopMVCAPINew.App.MysqlContext" />
  </ItemGroup>
</Project>