
@section carousel { 
 
    <div class="jumbotron">
        <h1>欢迎使用</h1>
        <p>欢迎使用api，欢迎使用欢迎使用欢迎使用欢迎使用，欢迎使用欢迎使用欢迎使用欢迎使用欢迎使用</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Help", new {area = "HelpPage"})" role="button">API介绍</a></p> 
    </div>
    <div>
        @RenderPage("../Control/Carousel.cshtml")
    </div>
 
}

